:root {
  color-scheme: light dark;
  --bg-color: light-dark(white, black);
  --text-color: light-dark(black, white);

  /* Only works on MacOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 36rem;
  margin-inline: 1rem;
  margin-top: 2rem;
  padding-inline: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: light-dark(rgb(38, 38, 38), rgb(229, 229, 229));
    text-decoration: underline;
  }
}

section.index {
  text-align: justify;
}

/* md:... */
@media (width >= 48rem) {
  body {
    padding-inline: 0;
  }

  body > aside nav {
    overflow: auto;
  }
}

/* lg:... */
@media (width >= 64rem) {
  body {
    margin-inline: auto;
  }

  body > aside > div {
    position: sticky;
    top: 5rem;
  }
}

main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  margin-top: 1.5rem;
}

main > header > h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

header .subtitle {
  margin-bottom: 2rem;
  color: light-dark(grey, lightgrey);
  font-style: italic;
}

body > aside {
  margin-left: -8px;
  letter-spacing: -0.025em;
}

body > aside nav {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-inline: 0;
  padding-bottom: 0;
  scroll-padding-right: 1.5rem;
  gap: 0.5rem;
}

body > aside nav a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin: 0.25rem;
  padding-block: 0.25rem;
  position: relative;
}

section.posts .post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  gap: 0.5rem;

  & > .date {
    font-variant-numeric: tabular-nums;
    color: light-dark(rgb(82, 82, 82), rgb(163, 163, 163));
  }

  & > a {
    letter-spacing: -0.025em;
  }
}

/* md:... */
@media (width >= 48rem) {
  section.posts .post {
    flex-direction: row;
  }
}

footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials {
  display: flex;
  gap: 0.6rem;

  & #github,
  #bluesky,
  #X,
  #linkedin,
  #devto {
    height: 1.25rem;
    fill: light-dark(black, white);

    &:hover {
      fill: light-dark(rgb(38, 38, 38), rgb(229, 229, 229));
    }
  }
}

/* Transition between : fade */
@view-transition {
  navigation: auto;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
